<div class="jumbotron text-center">
  <h1>Language Learning App</h1>
  <p class="lead">Welcome to our language learning  application </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-dark" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Basic Learning</h3>
    <p>Start to learn from basic </p>
  </div>
  <div class="col-md-4">
    <h3>Intermediate</h3>
    <p>Start to learn from Intermediate</p>
  </div>
  <div class="col-md-4">
    <h3>Advanced</h3>
    <p>Start to learn from Advanced</p>
  </div>
</div>
